In [1]:
import pandas as pd
from tqdm import tqdm_notebook
import matplotlib.pyplot as plt
import seaborn as sns
import geopandas
from geopy.geocoders import Nominatim

## Geotagging the scraped Data

In [2]:
df = pd.read_csv('all_reviews.csv')
locations_df = pd.read_csv('locations_geotagged.csv')

In [3]:
df

,beer_name,beer_rating,brewery_location,brewery_name,review_content,reviewer_name
0,St. Peter's Ruby Red Ale,3.3,"Bungay, Suffolk",St. Peter's Brewery,"Ruby color, offwhite coam. Aroma and taste: fl...",alex_leit
1,Shepherd Neame Spitfire (Bottle),2.2,"Faversham, Kent",Shepherd Neame,Disappointing show from the lads at ‘Britain’s...,shivermetimber.gray
2,Arbor Rocketman,3.8,"Bristol, Gloucestershire",Arbor Ales,"Puszka. Mętne o żółtym kolorze. Piana biała,ob...",MarcinG
3,Shepherd Neame India Pale Ale (Bottle),3.4,"Faversham, Kent",Shepherd Neame,Bottle. Amber with bronze color and white foam...,alex_leit
4,Shepherd Neame Christmas Ale,3.3,"Faversham, Kent",Shepherd Neame,Bottle. Aroma: English hops and malts with tof...,alex_leit
...,...,...,...,...,...,...
20010,Old Milwaukee,4.4,+3,Pabst Brewing Company,"for the style example ,macro or craft ,i co...",BreweryTaps48
20011,Three Weavers Expatriate IPA,2.0,-1.6,Three Weavers Brewing Co. (CANarchy Craft Brew...,"Lemongrass nose, trace of DMS. Clear yellow, m...",obguthr
20012,Hatherwood Plunged Orange Pale Ale,5.0,+2,Lidl UK,I like it. It’s nice. I like it. It’s nice. I ...,MashTapper40
20013,Vox Populi Session Fruit Punch IPA,1.2,-2,Microbrasserie Vox Populi (Groupe Glutenberg),"Diacetyl. Greyish brown colour, clearly oxidiz...",john_bl
20014,Martens Gold,3.4,+1.6,Martens,500ml can from Malta. It is a very good summer...,dr.dod

In [4]:
locations_df

,locations,latitude,longitude,country
0,"Bungay, Suffolk",52.456225,1.437341,United Kingdom
1,"Faversham, Kent",51.314409,0.891189,United Kingdom
2,"Bristol, Gloucestershire",51.852767,-2.255369,United Kingdom
3,"Round Rock, Texas",30.508235,-97.678893,United States of America
4,"Brooklyn, New York",40.650104,-73.949582,United States of America
...,...,...,...,...
1378,"Vielank, Mecklenburg-Vorpommern",53.235501,11.135182,Germany
1379,"Baileys Harbor, Wisconsin",45.064993,-87.124274,United States of America
1380,"Broomfield, Colorado",39.920383,-105.069146,United States of America
1381,"Homerton, Greater London",51.547079,-0.043121,United Kingdom
1382,"Berwyn, Pennsylvania",40.044831,-75.438805,United States of America

In [ ]:
geolocator = Nominatim(user_agent="None")

In [14]:
locations_new = locations_df

In [16]:
def tryconvert(x):
        try:
            return geolocator.geocode(x).latitude
        except:
            return None

In [17]:
locations_df["latitude"] = locations_df.locations.apply(lambda x: tryconvert(x))

In [18]:
def tryconvertlong(x):
        try:
            return geolocator.geocode(x).longitude
        except:
            return None

In [19]:
locations_df["longitude"] = locations_df.locations.apply(lambda x: tryconvertlong(x))

In [20]:
locations_df

                            locations   latitude   longitude
0                     Bungay, Suffolk  52.456225    1.437341
1                     Faversham, Kent  51.314409    0.891189
2            Bristol, Gloucestershire  51.852767   -2.255369
3                   Round Rock, Texas  30.508235  -97.678893
4                  Brooklyn, New York  40.650104  -73.949582
...                               ...        ...         ...
1378  Vielank, Mecklenburg-Vorpommern  53.235501   11.135182
1379        Baileys Harbor, Wisconsin  45.064993  -87.124274
1380             Broomfield, Colorado  39.920383 -105.069146
1381         Homerton, Greater London  51.547079   -0.043121
1382             Berwyn, Pennsylvania  40.044831  -75.438805

[1383 rows x 3 columns]

In [28]:
countries = []
for row in locations_df.index:
    try:
        loc = geolocator.reverse([locations_df.iloc[row,1],locations_df.iloc[row,2]], language='en')
        countries.append(loc.raw['address']['country'])
    except:
        countries.append(None)

In [29]:
locations_df['country'] = countries

In [31]:
locations_df.to_csv('locations_geotagged.csv',index=False)

## Deal with Non-English Descriptions