In [20]:
import pandas as pd
from tqdm import tqdm_notebook
import matplotlib.pyplot as plt
import seaborn as sns
import geopandas
from geopy.geocoders import Nominatim

## Geotagging the scraped Data

In [21]:
df = pd.read_csv('all_reviews.csv')
locations_df = pd.read_csv('locations_geotagged.csv')

In [22]:
df

,beer_name,beer_rating,brewery_location,brewery_name,review_content,reviewer_name
0,St. Peter's Ruby Red Ale,3.3,"Bungay, Suffolk",St. Peter's Brewery,"Ruby color, offwhite coam. Aroma and taste: fl...",alex_leit
1,Shepherd Neame Spitfire (Bottle),2.2,"Faversham, Kent",Shepherd Neame,Disappointing show from the lads at ‘Britain’s...,shivermetimber.gray
2,Arbor Rocketman,3.8,"Bristol, Gloucestershire",Arbor Ales,"Puszka. Mętne o żółtym kolorze. Piana biała,ob...",MarcinG
3,Shepherd Neame India Pale Ale (Bottle),3.4,"Faversham, Kent",Shepherd Neame,Bottle. Amber with bronze color and white foam...,alex_leit
4,Shepherd Neame Christmas Ale,3.3,"Faversham, Kent",Shepherd Neame,Bottle. Aroma: English hops and malts with tof...,alex_leit
...,...,...,...,...,...,...
20785,Four Loko Sour Apple,3.1,+1.2,Drink Four Brewing Company ( Phusion Projects),Very light green jolly rancher smell with a to...,geologyguy
20786,Dunedin Biere de Cafe (Coffee Brown),1.7,-1.7,Dunedin Brewery,"Draft at the brewery. Brown body, small beige ...",Tranquillity
20787,Wychwood Hobgoblin IPA (Keg and Bottle),5.0,+1.8,Wychwood Brewery (Marston's),İçimi kolay ve zengin aromalı güzel bir İngili...,purikss
20788,Fuller's Black Cab Stout (Pasteurised),5.0,+1.5,Fuller's Brewery (Asahi),Stout bira severler için özellikle fıcı altern...,purikss
20789,Fuller's Organic Honey Dew (Bottle),5.0,+2,Fuller's Brewery (Asahi),Gerçekten tatlı bira severleri için özellikle ...,purikss

In [23]:
locations_df

,locations,latitude,longitude,country
0,"Bungay, Suffolk",52.456225,1.437341,United Kingdom
1,"Faversham, Kent",51.314409,0.891189,United Kingdom
2,"Bristol, Gloucestershire",51.852767,-2.255369,United Kingdom
3,"Round Rock, Texas",30.508235,-97.678893,United States of America
4,"Brooklyn, New York",40.650104,-73.949582,United States of America
...,...,...,...,...
1378,"Vielank, Mecklenburg-Vorpommern",53.235501,11.135182,Germany
1379,"Baileys Harbor, Wisconsin",45.064993,-87.124274,United States of America
1380,"Broomfield, Colorado",39.920383,-105.069146,United States of America
1381,"Homerton, Greater London",51.547079,-0.043121,United Kingdom
1382,"Berwyn, Pennsylvania",40.044831,-75.438805,United States of America

In [24]:
geolocator = Nominatim(user_agent="None")

In [25]:
locations_new = pd.DataFrame(df.brewery_location[~df.brewery_location.isin(locations_df.locations)].unique(),columns=['locations'])
print(len(locations_new), "new locations to search for!")

638 new locations to search for!

In [26]:
def tryconvert(x):
        try:
            return geolocator.geocode(x).latitude
        except:
            return None

In [27]:
def tryconvertlong(x):
        try:
            return geolocator.geocode(x).longitude
        except:
            return None

In [28]:
locations_new["latitude"] = locations_new.locations.apply(lambda x: tryconvert(x))

In [29]:
locations_new["longitude"] = locations_new.locations.apply(lambda x: tryconvertlong(x))

In [30]:
locations_new

                              locations   latitude  longitude
0         Dischingen, Baden-Württemberg  48.698674  10.357023
1                  Alexandria, Virginia  38.805110 -77.047023
2                         Ord, Nebraska  41.603343 -98.926199
3                      Ohiowa, Nebraska  40.414436 -97.453000
4    Saint-Bruno-de-Montarville, Quebec  45.525616 -73.339180
..                                  ...        ...        ...
633       King’s Bromley, Staffordshire  52.748947  -1.821020
634                Dunsden, Oxfordshire  51.488146  -0.937114
635                     Bideford, Devon  51.010765  -4.199479
636             St. Marys, Pennsylvania  41.428043 -78.561127
637     Ahorntal-Hintergereuth, Bavaria  49.866228  11.451586

[638 rows x 3 columns]

In [31]:
countries = []
for row in locations_new.index:
    try:
        loc = geolocator.reverse([locations_new.iloc[row,1],locations_new.iloc[row,2]], language='en')
        countries.append(loc.raw['address']['country'])
    except:
        countries.append(None)

In [32]:
locations_new['country'] = countries

In [33]:
locations_new

,locations,latitude,longitude,country
0,"Dischingen, Baden-Württemberg",48.698674,10.357023,Germany
1,"Alexandria, Virginia",38.805110,-77.047023,United States of America
2,"Ord, Nebraska",41.603343,-98.926199,United States of America
3,"Ohiowa, Nebraska",40.414436,-97.453000,United States of America
4,"Saint-Bruno-de-Montarville, Quebec",45.525616,-73.339180,Canada
...,...,...,...,...
633,"King’s Bromley, Staffordshire",52.748947,-1.821020,United Kingdom
634,"Dunsden, Oxfordshire",51.488146,-0.937114,United Kingdom
635,"Bideford, Devon",51.010765,-4.199479,United Kingdom
636,"St. Marys, Pennsylvania",41.428043,-78.561127,United States of America
637,"Ahorntal-Hintergereuth, Bavaria",49.866228,11.451586,Germany

In [34]:
len(pd.DataFrame(df.brewery_location[~df.brewery_location.isin(locations_df.locations)].unique(),columns=['locations']))

638

In [35]:
locations_df = pd.concat([locations_df,locations_new])
locations_df.to_csv('locations_geotagged.csv',index=False)

In [36]:
len(pd.DataFrame(df.brewery_location[~df.brewery_location.isin(locations_df.locations)].unique(),columns=['locations']))

0

## Deal with Non-English Descriptions